<div class="country-component" local-class="country-component">
  <div local-class="country-label">
    <p>{{@rulesGroup.countryName}}</p>
  </div>
  <div local-class="country-body">
  {{#each @rulesGroup.rules as |taxRule|}}
    <Tax @rule={{taxRule}} @countries={{@countries}} @saveTaxEditions={{@saveTaxEditions}} @deleteTax={{@deleteTax}} />
  {{/each}}
  </div>
</div>
