<div local-class="form-container">
  <img src="/assets/icons/tax_engine-48px.svg" alt="TaxEngine" local-class="img-tax-engine">
  <form {{on "submit" this.authenticate}}>
    <label>User</label>
    <Input type="text" local-class="text-input" @value={{this.user}} />
    <label>Password:</label>
    <Input type="password" local-class="text-input" @value={{this.password}} />
    <div local-class="checkbox-container">
      <Input @type="checkbox" @checked={{this.rememberMe}} />
      <span local-class="darkgray">Rember me</span>
    </div>
    <input type="submit" value="Login" local-class="login-submit {{if this.tooManyTries "disabled"}}">
    {{#if @errorMessage}}
      <p local-class="error-message">{{@this.errorMessage}}</p>
    {{/if}}
  </form>
</div>
