<div class="tax-component" local-class="tax-component">

  <button type="button" local-class="collapsible" {{on "click" (fn this.toggleOpenCard)}}>
    <div><strong>Tax Name: </strong>{{this.taxName}} </div>
    <aside class="expand-img" />
  </button>

  <div local-class="content {{unless this.editMode "hard-input"}}" class="content">

    {{#if this.editMode}}
      <div local-class="input-field name-input">
        <label>Tax Name: </label>
        <input type="text" value="{{this.taxName}}" spellcheck="false">
      </div>
    {{/if}}

    <div local-class="input-field date-input">
      <label>Valid from: </label>
      <EmberFlatpickr local-class="date-picker" @value={{this.validFrom}} @onChange={{null}}
        @placeholder="Select Date" />
      <img src="/assets/icons/event-24px.svg" alt="" role="presentation" local-class="calendar-icon" />
    </div>

    <div local-class="input-field date-input">
      <label>Valid until: </label>
      <EmberFlatpickr local-class="date-picker" @value={{this.validUntil}} @onChange={{null}}
        @placeholder="Select Date" />
      <img src="/assets/icons/event-24px.svg" alt="" role="presentation" local-class="calendar-icon" />
    </div>

    <div local-class="input-field product-category-input">
      <label>Product category:</label>
      {{#if this.editMode}}
        <input type="text" value="{{this.productCategory}}" spellcheck="false">
      {{else}}
        <span>{{this.productCategory}}</span>
      {{/if}}
    </div>

    <div local-class="input-field bp-input options-input">
      <label>Business Partner VAT:</label>
      <select>
        {{#each this.bpVATOptions as |vatOption|}}
          {{#if (eq vatOption.value this.bpVATSelected)}}
            <option value="{{vatOption.value}}" selected>
              {{vatOption.optText}}
            </option>
          {{else}}
            <option value="{{vatOption.value}}">
              {{vatOption.optText}}
            </option>
          {{/if}}
        {{/each}}
      </select>
    </div>

    <div local-class="input-field witholding-tax options-input">
      <label>Witholding TAX:</label>
      <select>
        {{#each this.witholdingTAXOptions as |taxOption|}}
          {{#if (eq taxOption.value this.witholdingTAXSelected)}}
            <option value="{{taxOption.value}}" selected>
              {{taxOption.optText}}
            </option>
          {{else}}
            <option value="{{taxOption.value}}">
              {{taxOption.optText}}
            </option>
          {{/if}}
        {{/each}}
      </select>
    </div>

    <div local-class="input-field tax-type">
      <label>TAX Type:</label>
      <input type="checkbox" /><span>Income</span>
      <input type="checkbox" /><span>Expense</span>
    </div>

    <div local-class="input-field tax-rate">
      <label>TAX Rate:</label>
      {{#if this.editMode}}
        <input type="number" spellcheck="false">%
      {{else}}
        <span>{{this.taxRate}}%</span>
      {{/if}}
    </div>

    <div local-class="input-field additional-data">
      <label>Additional Data: </label>
      {{#if this.editMode}}
        <textarea rows="3" spellcheck="false"></textarea>
      {{else}}
        <p local-class="additional-data">{{this.additionalData}}</p>
      {{/if}}
    </div>

    {{#if this.editMode}}
      <div local-class="edit-buttons">
        <button type="submit" {{on "click" (fn this.saveTAXEditions)}}>SAVE</button>
        <button type="button" {{on "click" (fn this.discardTAXEditions)}}>DISCARD</button>
      </div>
    {{/if}}

    {{#unless this.editMode}}
      <div local-class="display-menu dropdown">
        <button local-class="more dropbtn {{if this.panelMoreOpen "open" "closed"}}" type="button"
          {{on "click" (fn this.toggleOptionsPanel)}} />
        {{#if this.panelMoreOpen}}
          <div local-class="dropdown-content">
            <button {{on "click" (fn this.toggleEditMode)}} type="button"><img src="/assets/icons/create-24px.svg"
                alt="presentation" />Edit</button>
            <button type="button"><img src="/assets/icons/delete-24px.svg" alt="presentation" />Delete</button>
          </div>
        {{/if}}
      </div>
    {{/unless}}

    {{#if this.saveModalOpen}}
      <ModalDialog @translucentOverlay="true">
        <div class="save-changes-modal">
          <button type="button" class="close-modal-icon" {{on "click" (fn this.closeModals)}} />
          <img src="/assets/icons/warning-24px.svg" class="warning-img" alt="" role="presentation" />
          <p>Are you sure you want to save these changes?</p>
          <div class="edit-buttons">
            <button type="submit" {{on "click" (fn this.saveNewTax)}}>SAVE</button>
            <button type="button" {{on "click" (fn this.closeNewTAXPanel)}}>DISCARD</button>
          </div>
        </div>
      </ModalDialog>
    {{/if}}

    {{#if this.showConfirmationModal}}
      <ModalDialog @translucentOverlay="true">
        <div class="save-confirmation-modal">
          <button type="button" class="close-modal-icon" {{on "click" (fn this.closeModals)}} />
          <p>Changes have been successfully saved!</p>
        </div>
      </ModalDialog>
    {{/if}}

  </div>

</div>
