<div class="tax-component {{if this.shouldDisplayOpenCard "open"}}" local-class="tax-component">

  {{#if this.shouldDisplayCollapsibleButton}}
    <button type="button" local-class="collapsible" {{on "click" (fn this.toggleOpenCard)}}>
      <div><strong>Tax Name: </strong>{{this.draftRule.taxName}} </div>
      <aside class="expand-img" />
    </button>
  {{/if}}


  <div local-class="content {{if this.shouldContainHardInput "hard-input"}}" class="content">

    <p local-class="id-label">{{this.draftRule._id}}</p>

    {{#if this.shouldDisplayCountryField}}
      <div local-class="input-field country-input">
        <label>Country: </label>
        <select onchange={{action 'setSelectedCountry' value="target.value"}}>
          {{#each this.countries as |country|}}
            {{#if (eq country.code this.selectedCountry)}}
              <option value="{{country.code}}" selected>
                {{country.name}}
              </option>
            {{else}}
              <option value="{{country.code}}">
                {{country.name}}
              </option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{#if this.shouldDisplayInputs}}
      <div local-class="input-field name-input">
        <label>Tax Name: </label>
        <Input @type="text" @value={{this.draftRule.taxName}} @spellcheck="false" />
      </div>
    {{/if}}

    <div local-class="input-field date-input">
      <label>Valid from: </label>
      <EmberFlatpickr local-class="date-picker" @value={{this.draftRule.validFrom}} @dateFormat="Z" @onChange={{null}}
        @placeholder="Select Date" />
      <img src="/assets/icons/event-24px.svg" alt="" role="presentation" local-class="calendar-icon" />
    </div>

    <div local-class="input-field date-input">
      <label>Valid until: </label>
      <EmberFlatpickr local-class="date-picker" @value={{this.draftRule.validUntil}} @dateFormat="Z" @onChange={{null}}
        @placeholder="Select Date" />
      <img src="/assets/icons/event-24px.svg" alt="" role="presentation" local-class="calendar-icon" />
    </div>

    {{#if this.shouldDisplayInputs}}
      <div local-class="input-field product-category-input">
        <label>Product category:</label>
        <Input @type="text" @value={{this.draftRule.category}} @spellcheck="false" />
      </div>
    {{else if this.draftRule.category}}
      <div local-class="input-field product-category-input">
        <label>Product category:</label>
        <span>{{this.draftRule.category}}</span>
      </div>
    {{/if}}

    <div local-class="input-field">
      <label for="witholdingTax">Witholding TAX:</label>
      <Input @type="checkbox" @checked={{this.draftRule.whitholded}} />
    </div>

    <div local-class="input-field tax-type">
      <label>TAX Type:</label>

      <Input @type="checkbox" @checked={{this.isIncomeType}} />
      <span>Income</span>

      <Input @type="checkbox" @checked={{this.isExpenseType}} />
      <span>Expense</span>

    </div>

    {{#if this.shouldDisplayInputs}}
      <div local-class="input-field tax-rate">
        <label>TAX Rate:</label>
        <Input @type="text" @value={{this.draftRule.rate}} @spellcheck="false" />%
      </div>
    {{else}}
      <div local-class="input-field tax-rate">
        <label>TAX Rate:</label>
        <span>{{this.draftRule.rate}}</span>
      </div>
    {{/if}}

    {{#if this.extraFields}}
      <ExtraField @field={{this.extraFields}} @editMode={{this.editMode}} @updateExtras={{this.updateExtras}} />
    {{/if}}

    {{#if this.newTaxMode}}
      <div local-class="edit-buttons">
        <button type="button" {{on "click" (fn this.closeNewTaxModal)}}>DISCARD</button>
        <button type="submit" {{on "click" (fn this.openSaveModal)}}>SAVE</button>
      </div>
    {{/if}}
    {{#if this.editMode}}
      <div local-class="edit-buttons">
        <button type="button" {{on "click" (fn this.discardTaxEditions)}}>DISCARD</button>
        <button type="submit" {{on "click" (fn this.openSaveModal)}}>SAVE</button>
      </div>
    {{/if}}

    {{#if this.shouldDisplayMoreButton}}
      <div local-class="display-menu dropdown">
        <button local-class="more dropbtn {{if this.shouldDisplayMorePanel "open" "closed"}}" type="button"
          {{on "click" (fn this.toggleOptionsPanel)}} />
        {{#if this.shouldDisplayMorePanel}}
          <div local-class="dropdown-content">
            <button {{on "click" (fn this.toggleEditMode)}} type="button"><img src="/assets/icons/create-24px.svg"
                alt="presentation" />Edit</button>
            <button type="button"><img src="/assets/icons/delete-24px.svg" alt="presentation" />Delete</button>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if this.shouldDisplaySaveModal}}
      <ModalDialog @translucentOverlay="true">
        <div class="save-editions-modal">
          <button type="button" class="close-modal-icon" {{on "click" (fn this.closeModals)}} />
          <img src="/assets/icons/warning-24px.svg" class="warning-img" alt="" role="presentation" />
          <p>Are you sure you want to save these changes?</p>
          {{#if this.editMode}}
            <div class="edit-buttons">
              <button type="button" {{on "click" (fn this.closeModals)}}>DISCARD</button>
              <button type="submit" {{on "click" (fn this.saveTaxEditions)}}>SAVE</button>
            </div>
          {{/if}}
          {{#if this.newTaxMode}}
            <div class="edit-buttons">
              <button type="button" {{on "click" (fn this.closeNewTaxModal)}}>DISCARD</button>
              <button type="submit" {{on "click" (fn this.saveNewTax)}}>SAVE</button>
            </div>
          {{/if}}
        </div>
      </ModalDialog>
    {{/if}}

    {{#if this.shouldDisplayConfirmationModal}}
      <ModalDialog @translucentOverlay="true">
        {{#if this.editMode}}
          <div class="confirmation-modal">
            <button type="button" class="close-modal-icon" {{on "click" (fn this.finishTaxEditionsSave)}} />
            <p>Changes have been successfully saved!</p>
          </div>
        {{/if}}
        {{#if this.newTaxMode}}
          <div class="confirmation-modal">
            <button type="button" class="close-modal-icon" {{on "click" (fn this.closeNewTaxModal)}} />
            <p>Changes have been successfully saved!</p>
          </div>
        {{/if}}
      </ModalDialog>
    {{/if}}

  </div>

</div>
