<UserBar @username={{this.userLogged}} @invalidateSession={{this.invalidateSession}} />

<div local-class="btn-history-container">
  <button type="button" {{on "click" (fn this.openHistoryModal)}}>
    <span>HISTORY</span>
    <img alt="" role="presentation" src="/assets/icons/restore-white-18dp.svg" />
  </button>
</div>

<div local-class="countries-container">
  {{#each this.rulesGroupedByCountries as |rulesGroup|}}
    <Country @rulesGroup={{rulesGroup}} @countries={{@model.countries}} @saveNewTax={{this.saveNewTax}}
      @saveTaxEditions={{this.saveTaxEditions}} @deleteTax={{this.deleteTax}}
      @dragCard={{this.dragCard}} @dropCard={{this.dropCard}} />
  {{/each}}
</div>

<button local-class="new-tax" type="button" {{on "click" (fn this.displayNewTaxModal)}}>
  +
</button>

<img src="/assets/logos/powered_by_ecs.svg" alt="powered by Ecaresoft" local-class="powered-by-ecs" />

{{#if this.shouldDisplayNewTax}}
  <ModalDialog @translucentOverlay="true" @onClickOverlay={{this.closeHomeModals}}>
    <Tax @newTaxMode="true" @countries={{@model.countries}} @saveNewTax={{this.saveNewTax}}
      @closeNewTaxModal={{this.closeNewTaxModal}} />
  </ModalDialog>
{{/if}}

{{#if this.shouldDisplayHistoryModal}}
  <ModalDialog @translucentOverlay="true" @onClickOverlay={{this.closeHomeModals}}>
    <History @logs={{this.historyLogs}} @closeHomeModals={{this.closeHomeModals}} />
  </ModalDialog>
{{/if}}
